# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:limitless-chinchilla-790 # team: harsh-e7551, project: cmsminds-bugs

NEXT_PUBLIC_CONVEX_URL=https://limitless-chinchilla-790.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://limitless-chinchilla-790.convex.site

# Clerk Authentication Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aW50ZWdyYWwtbWlkZ2UtMjEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_3MDRcx86SbjVYxXQpE5LL8tu6x2ahCbGNIjpQcX6tN
CLERK_JWT_ISSUER_DOMAIN=https://integral-midge-21.clerk.accounts.dev

# Resend Email Integration
RESEND_API_KEY=re_fWeRLvLK_M6dhvtLGi9tyHNr4vT65YPVP

# Admin Accounts
SUPER_ADMIN_EMAILS=harshsharmaqa@gmail.com
